/* margin padding reset */
body, div, p,  ul, ol, li, dl, dt, dd, table, th ,td, img, figure,
h1, h2, h3 ,h4 ,h5, h6, form, select
{ margin: 0; padding: 0; }

html
{ -webkit-text-size-adjust: 100%; }

body
{ -webkit-font-smoothing: antialiased; }

/* remove list point mark */
ul, ol
{ list-style: none; }

/* remove border & off descender */
img
{ border: 0; vertical-align: middle; }

/* remove descender */
svg, input, select, textarea, label
{ vertical-align: middle; }

/* break word for all elements */
*, *:before, *:after
{ word-break: break-all; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

pre
{ white-space: pre-wrap; }

address
{ font-style: normal; }

p
{ line-height: 1.5; }

a {
  color: rgb(248, 249, 250);
  text-decoration: none;
  background-color: transparent;
}

/*header*/
.navbar-header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*navbar-left*/
.header-search{
  width: 180px;
  margin-left: 15px;
}

.header-search input {
  padding: 5px;
  padding-left: 25px;
}

.navbar-left i {
  position: absolute;
  font-size: 20px;
  padding: 5px;
}

/*navbar-right*/
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d !important;
  border-color: #6c757d;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.navbar-right {
  position: relative;
  top: -22px;
}

// accordion
.nav_menu {
  max-width: 600px;
  position: absolute;
  max-width: 600px;
  position: absolute;
  width: max-content;
  right: 0px;
  text-align: center;
}

.nav_menu a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #000;
}

.nav_menu label {
  display: block;
  margin: 0 0 4px 0;
  padding : 15px;
  line-height: 1;
  color :#fff;
  background : green;
  cursor :pointer;
}

.nav_menu input {
  display: none;
}

.nav_menu ul {
  margin: 0;
  padding: 0;
  background :#f4f4f4;
  list-style: none;
}

.nav_menu li {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#menu_bar01:checked ~ #links01 li {
  height: 54px;
  opacity: 1;
}

// footer
.footer {
  bottom: 0;
  width: 100%;
  height: 180px;
  margin-top: 64px;
  padding-top: 90px;
  background-color: #111;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
}

.container {
  margin: 20px 60px;
}

// input form
.form_group {
  margin-top: 15px;
}

.form_group label {
  font-size: 20px;
}

.form_group input {
  height: 30px;
  width: 300px;
  padding: 3px;
  font-size: medium;
}

.form_group textarea {
  width: 300px;
  height: 60px;
}

.check_box label {
  font-size: 18px;
}

.check_box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.submit_block {
  margin-top: 30px;
}

.submit_block input {
  height: fit-content;
  width: fit-content;
  font-size: 18px;
  padding: 5px 15px 5px 15px;
  background-color: rgba(109, 166, 236, 0.5);
  border-width: 1px;
  border-radius: 5px;
}

.submit_block input[type="submit"] {
  height: fit-content;
  width: fit-content;
  font-size: 18px;
  padding: 5px 15px 5px 15px;
  background-color: rgba(109, 166, 236, 0.5);
  border-width: 1px;
  border-radius: 5px;
}

// default links
.shared_links {
  margin-top: 25px;
  margin-left: 10px;
}

.shared_links a {
  color: blue;
  font-size: 15px;
}

// links
.link {
  margin-top: 25px;
  margin-left: 10px;
}

.link a {
  color: blue;
  font-size: 15px;
}

// table
table {
  width: -webkit-fill-available;
  text-align: center;
  border-spacing: 0;
  border-top: solid 1px;
  border-bottom: solid 1px;
}
table tr {
  border-bottom: solid 1px #eee;
  cursor: pointer;
}
table th {
  padding: 10px;
  background: #e9faf9;
  border-bottom: inset;
}
table td {
  padding: 10px;
}
table a {
  color: rgba(1, 54, 255, 0.64);
  font-weight: bold;
}