.room_information {
  width: 65%;
  display: inline-block;
  margin-top: 56px;
}

.reservation_form {
  width: 35%;
  display: inline-block;
  margin-top: 60px;
  padding: 4%;
  border: solid;
  border-radius: 5%;
  border-color: lightgrey;
}